@model _3D_Art_Portfolio.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:70%; margin:auto;">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-md-12">
                    <a style="width:180px; margin-right:10px;" href="/Profile/Index" class="btn btn-primary btn-lg">Back to profile</a>
                    <input style="width:180px; margin-left:10px;" type="submit" value="Change password" class="btn btn-success btn-lg" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

