@model _3D_Art_Portfolio.ViewModels.ProfileViewModel
@using _3D_Art_Portfolio.Models;
@{
    ViewBag.Title = "My Profile";
}
<div class="container">
    <div class="row m-3 p-3">
        <div class="col-lg-4 text-center font-monospace profileInfoContainter">
            <div class="whiteBg roundedCorners">
                <h2>@Model.applicationUser.Name @Model.applicationUser.Surname</h2>
                <hr />
                <img src="@Url.Content(Model.applicationUser.ProfilePicture)" class="profilePicture zoomInImages">
                <hr />
                <h2>@@@Model.applicationUser.UserName</h2>
                <hr />
                <h3>Total Projects: @Model.projectEntries.Count</h3>
                <h3>Total Likes: @Model.TotalLikes</h3>
                <hr />
                <a href="/Profile/EditProfile" class="btn btn-primary btn-lg">Edit Profile</a>
            </div>
        </div>
        <div class="col-lg-8 font-monospace profileInfoContainter">
            <div class="whiteBg roundedCorners">
                <h2 class="text-center">My 3D Art Projects</h2>
                <hr />
                @if (Model.projectEntries.Count == 0)
                {
                    <h2>No projects available :(</h2>
                    <hr />
                }
                else
                {
                    <div class="roundedCorners" style="margin-bottom:15px;">
                        <table id="dataTable" class="row-border">
                            <thead>
                                <tr style="border-bottom:1px solid black" ; width:100%;>
                                    <th style="width:15%">Name</th>
                                    <th style="width:25%">Preview</th>
                                    <th style="width:25%">Upload Time</th>
                                    <th style="width:25%"></th>
                                    <th style="width:20%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProjectEntry pe in @Model.projectEntries)
                                {
                                    <tr style="border-bottom:1px solid black">
                                        <td>@pe.Name</td>
                                        <td><img class="otherImagesWithRatio zoomInImages" alt=@pe.Name src=@Url.Content(pe.MainImage) style="border:1px solid #d3d3d3; border-radius:10%;"/></td>
                                        <td>@pe.TimeStamp</td>
                                        <td><a href="/Project/ViewProject/@pe.ProjectId" class="btn btn-success btn-size">View details</a></td>
                                        <td><a href="/Project/EditProject/@pe.ProjectId" class="btn btn-primary btn-size">Edit</a> <a imgUrl="@Url.Content(pe.MainImage)" projectName="@pe.Name" path="/Project/DeleteProject/@pe.ProjectId" class="btn btn-danger btn-size deleteButton">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <a href="/Project/AddNewProject" class="btn btn-primary btn-lg">Add a new Project</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".deleteButton").click(function () {
                var link = $(this);
                bootbox.confirm({
                    title: "<h4>Are you sure that you want to delete the following project?</h4>",
                    message: "<span><h3 style='display:inline-block;'>" + link.attr('projectName') +"</h3> <img style='display:inline-block;margin-left:20px;' class='otherImagesWithRatio thumbnail' src="+link.attr('imgUrl')+" /></span>",
                    callback: function (result) {
                        if (result) {
                            window.location.href = link.attr('path');
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "columns": [
                    { "name": "name", "orderable": true },
                    { "name": "preview", "orderable": false },
                    { "name": "timestamp", "orderable": true },
                    { "name": "detailsBtn", "orderable": false },
                    { "name": "editDeleteBtn", "orderable": false }
                ],
                "bLengthChange": false,
                "searching": false,
                "pageLength": 4,
                "bInfo": false
            });
        });
    </script>    
}




