<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("3D Art Portfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Profile", "Index", "Profile")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><button style="padding:15px" type="button" id="search" class="btn btn-link"><i class="fa fa-lg fa-search"></i></button></li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div id="searchForm" style="display:none">
        <div style="margin:0 auto 20px auto; padding:0px; width:max-content;" class="form-group rounded-pill">
            <input style="width:max-content" class="form-control searchText rounded-pill" type="search" placeholder="search">
        </div>
        <div style="width:100%; display:none;" class="loading text-center">
            <img class="text-center" style="width:100px;" src='@Url.Content(@"~\Content\Images\loading.gif")' />
        </div>
        <div class="searchTarget"></div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".zoomInImages").hover(function () {
                $(this).css('cursor', 'pointer');
            });
            $(".zoomInImages, .softwareImages").mouseenter(function () {
                $(this).animate({ height: '+=25', width: '+=25' })
            });
            $(".zoomInImages, .softwareImages").mouseleave(function () {
                $(this).animate({ height: '-=25', width: '-=25' });
            });
        });
    </script>
    <script>
        $(document).ajaxStart(function () {
            $(".loading").show();
        }).ajaxStop(function () {
            $(".loading").hide();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#search").on("click", function (event) {
                var modal = bootbox.dialog({
                    message: $("#searchForm").html(),
                    title: "<h3>Search by user name</h3>",
                    buttons: [
                        {
                            label: "Close",
                            className: "btn btn-default pull-left",
                            callback: function () {
                                console.log("just do something on close");
                            }
                        }
                    ],
                    show: false,
                    onEscape: function () {
                        modal.modal("hide");
                    }
                });
                modal.modal("show");
                $(".modal .searchText").keyup(function () {
                    var textToPass = $(".modal .searchText").val();
                    $.ajax({
                        type: "GET",
                        url: '/Profile/Search',
                        data: jQuery.param({ text: textToPass }),
                        contentType: false,
                        processData: false,
                        success: function (results) {
                            $(".modal .searchTarget").html(results);
                            $(".modal .searchTarget .tabela").DataTable({
                                "columns": [
                                    { "name": "profilePicture", "orderable": false },
                                    { "name": "userName", "orderable": false }
                                ],
                                "ordering": false,
                                "bLengthChange": false,
                                "searching": false,
                                "pageLength": 5,
                                "bInfo": false
                            });
                        },
                        error: function (results) {
                            console.log("error");
                        }
                    }).done(function () {
                    }).fail(function (xhr, status, errorThrown) {
                    });
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".zoomInImages").click(function () {
                var slika = $(this).attr('src');
                var modal = bootbox.dialog({
                    message: "<img style='width:100%;' src=" + slika + ">",
                    show: false,
                    onEscape: function () {
                        modal.modal("hide");
                    }
                });
                $(".modal-dialog").addClass("bootboxBig");
                modal.modal("show");
            });
        });
    </script>
</body>
</html>

