@model _3D_Art_Portfolio.ViewModels.ProjectEntryViewModel

@{
    ViewBag.Title = "Add New Project";
}
<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:50%; margin:0 auto;">
        <h2 style="margin-top:0px">Add New Project</h2>

        @using (Html.BeginForm("AddNewProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr style="margin-top:0px" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainImage, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.MainImage, htmlAttributes: new { @class = "custom-file-input", type = "file" })
                @Html.ValidationMessageFor(model => model.MainImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrls, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ImageUrls, htmlAttributes: new { @class = "custom-file-input", type = "file", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.ImageUrls, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoftwareUsedUrls, htmlAttributes: new { @class = "control-label col-md-4" })
            <div>
                @Html.ListBoxFor(model => model.SoftwareUsedUrls, Model.AllSoftware, new { multiple = "multiple", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoftwareUsedUrls, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr style="margin-top:0px" />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success btn-lg" />
        </div>
        <div class="form-group">
            <a href="/Profile/Index" class="btn btn-primary btn-lg">Back to Profile</a>
        </div>
    </div>
        }

    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css" />
    <script>
        $(document).ready(function () {
            $('#SoftwareUsedUrls').multiselect();
        });
    </script>
}
