@model _3D_Art_Portfolio.ViewModels.ViewProjectViewModel
@using _3D_Art_Portfolio.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.ProjectEntry.Name;
}
<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg " style="width:50%; margin:0 auto;padding-bottom:50px;">
        <div class="text-center">
            <h3 style="display:inline;">@Model.ProjectEntry.Name</h3>
            <h5>@Model.ProjectEntry.TimeStamp</h5>
            <hr />
        </div>
        <div style="height:max-content;overflow: hidden;">
            <div class="col-lg-6">
                <img class="mainImages thumbnail zoomInImages" alt="Main image" src=@Url.Content(Model.ProjectEntry.MainImage) />
            </div>
            <div class="col-lg-6">
                <p>@Model.ProjectEntry.Description</p>
            </div>
        </div>
        <hr />
        <div class="text-center">
            @foreach (Image i in Model.ProjectEntry.ImageUrls)
            {
                <img class="otherImages thumbnail zoomInImages" style="display:inline;" src=@Url.Content(i.Url) />
            }
        </div>
        <hr />
        <div class="text-center">
            <h3>Software used:</h3>
            @foreach (Software s in Model.ProjectEntry.SoftwareUsedUrls)
            {
                <img class="softwareImages" alt=@s.Name src=@Url.Content(s.ImageUrl) />
            }
        </div>
        <hr style="margin-top:0;"/>
        <div class="form-group">
            <div class="col-lg-6 text-left">

                @if (Model.ProjectEntry.UserId == User.Identity.GetUserId())
                {
                    <a href="/Project/EditProject/@Model.ProjectEntry.ProjectId" class="btn btn-primary">Edit Project</a>
                }
                <a href="/Profile/ViewProfile/@Model.ProjectEntry.UserId" class="btn btn-success">Back</a>
            </div>
            <div class="col-lg-6 text-right">
                <a id="viewLikes" class="btn btn-danger text-center" style="margin-right:70px;">Likes: @Model.ProjectEntry.Likes </a>
                @{ var likeImg = Model.IsLiked == true ? "~/Content/Images/heart_full.png" : "~/Content/Images/heart_empty.png";}
            <div display:inline-block; position:relative;">
                <img id="likeImage" style="width:50px; box-sizing:border-box; position:absolute; bottom:-5px;right:5px;" src=@Url.Content(likeImg) />
            </div>

            </div>
        </div>
    </div>
</div>


<table class="viewLikesDiv" style="display:none">
</table>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#likeImage").hover(function () {
                $(this).css('cursor', 'pointer');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#likeImage").click(function () {
                    $.ajax({
                    type: "GET",
                    url:"@String.Format(@"/Project/LikeProject/"+ @Model.ProjectEntry.ProjectId.ToString())",
                    contentType: false,
                    processData: false,
                        success: function (results) {
                            $("#viewLikes").html("Likes: " + results.newCount);
                            var likeImage = $("#likeImage");
                            if (likeImage.attr("src").indexOf("full") > 0) {
                                likeImage.attr("src", "/Content/Images/heart_empty.png")
                            }
                            else {
                                likeImage.attr("src", "/Content/Images/heart_full.png")
                            }
                            likeImage.animate({ height: '+=10', width: '+=10' }).animate({ height: '-=10', width: '-=10' });
                    },
                    error: function (results) {
                        console.log("error");
                    }
                }).done(function () {
                }).fail(function (xhr, status, errorThrown) {
                });
            });
        });
    </script>
    <script>
            $(document).ready(function () {
                $("#viewLikes").on("click", function (event) {
                    var modal = bootbox.dialog({
                        message: $(".viewLikesDiv").html(),
                        title: "<h3>People who liked this project</h3>",
                        buttons: [
                            {
                                label: "Close",
                                className: "btn btn-default pull-left",
                                callback: function () {
                                }
                            }
                        ],
                        show: false,
                        onEscape: function () {
                            modal.modal("hide");
                        }
                    });
                    modal.modal("show");
                    var textToPass = @Model.ProjectEntry.ProjectId;
                    $.ajax({
                        type: "GET",
                        url: '/Project/ViewLikes',
                        data: jQuery.param({ id: textToPass }),
                        contentType: false,
                        processData: false,
                        success: function (results) {
                            $(".bootbox-body").html(results);
                            $(".bootbox-body .tabela").DataTable({
                                "columns": [
                                    { "name": "profilePicture", "orderable": false },
                                    { "name": "userName", "orderable": false }
                                ],
                                "ordering": false,
                                "bLengthChange": false,
                                "searching": false,
                                "pageLength": 4,
                                "bInfo": false
                            });
                        },
                        error: function (results) {
                            console.log("error");
                        }
                    }).done(function () {
                    }).fail(function (xhr, status, errorThrown) {
                    });
                });
            });
    </script>
}
